################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Group-3/.vs/Group-3/CopilotIndices/17.14.698.11175
/Group-3/Group-3/x64/Debug
